# Core Framework
fastapi
uvicorn

# Database
sqlalchemy
psycopg2-binary
cryptography

# Authentication & Security
python-jose[cryptography]
passlib[bcrypt]
python-multipart

# Validation
pydantic[email]
# Authentication & Security
PyJWT
email-validator

# Caching & OTP
redis

flake8
alembic
pymysql
pydantic
jwt