# Core Framework
fastapi
uvicorn

# Database
sqlalchemy
psycopg2-binary

# Environment
python-dotenv

# Authentication & Security
PyJWT
email-validator

# Caching & OTP
redis

# Development
pytest
black
flake8
alembic
pymysql
pydantic
jwt